@import url("http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext");

::placeholder {
    color: black;
    font-size: 15px;
    text-align: center;

}

@media screen and (max-width: 1040px) {

    #main {
        width: 600px !important;
    }

    fieldset  {
        width: 600px !important;
    }
}

@media screen and (max-width: 600px) {
    #main {
        width: 350px !important;
    }

    fieldset  {
        width: 350px !important;
    }

    h1 {
        font-size: 20px !important;
    }

}
