#container {
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.column {
    column-count: 3;
    column-width: 5px;
    height: auto;
    display: inline-block;
    width: 650px;
    text-align:center;
}


p {
    margin: auto;
}
h1 {
    font-family: serif;
    font-size: 50px;
    text-align:center;


}
