table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


th, td {
    border:solid black 2px;
    height: 40px;
    width: 100px;
    margin: 0px;
    padding: 0px;
}

th {
    font-size: 20px;
    background-color: black;
    color: white;
}
